NODE_ENV=local
DATABASE_ENGINE=postgres
DATABASE_HOST=app-database
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_NAME=postgres
DATABASE_SCHEMA=public
DATABASE_SYNCHRONIZE=false

### Maintenance Mode
MAINTENANCE_MODE=false
MAINTENANCE_MESSAGE="We are currently under maintenance. Please check back later."

### JWT
JWT_SECRET=JWT_SECRET
JWT_EXPIRATION_TIME=30m
JWT_REFRESH_SECRET=JWT_REFRESH_SECRET
JWT_REFRESH_EXPIRATION_TIME=24h
