NODE_ENV=local
DATABASE_ENGINE=postgres
DATABASE_HOST=app-database
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_NAME=postgres
DATABASE_SCHEMA=public
DATABASE_SYNCHRONIZE=false

### AWS
AWS_COGNITO_USER_POOL_ID=us-east-1_1X2X3X4X5X6
AWS_COGNITO_CLIENT_ID=1X2X3X4X5X6X7X8X9X0X
AWS_COGNITO_AUTHORITY_URL=https://cognito-idp.us-east-1.amazonaws.com/us-east-1_1X2X3X4X5X6
AWS_REGION=us-east-1
